.shopGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr, auto;
    grid-template-rows: 100%;
    grid-template-areas: 'shopList shopList shopBtns';
}

.shopList{
    grid-area: shopList;
}

.shopBtns{
    grid-area: shopBtns;
    position:relative;
}

.shopHeader{
    background-color: #219ebc;
    width:60%;
    margin-top: 10px;
    border-radius:15px;
    border-top-left-radius: 0px;    
    border-bottom-left-radius: 0px;
    font-size: 20px;
    padding:5px;
}

.btnSpace{
    padding-bottom:20px;
}
.shopInteractiveBtns{
    background-color: #b5e3f0;
    border:solid;
    border-color: #023047;
    border-width: 8px;
    padding:10px;
    width: 50%;
}

/*Holds a list of ingredients*/
.shopListContainer{
    position: relative;
    background-color: #b5e3f0;
    border:solid;
    border-width: 5px;
    border-color: #023047;
    margin-left: 50px;
    margin-top:20px;
    border-radius: 10px;
    height:70%;
    overflow-y: scroll;
}

/*Holds an individual ingredient*/
.ingredItem{
    height:50px;
    padding-bottom: 30px;
    border-bottom:solid;
    border-color: #023047;
    font-size: large;
}
/*Ingredient information*/
.ingredName{
    padding-left: 10px;
    width:55%;
    float: left;
    overflow-x: hidden;
}

.qtyContainer{
    width:25%;
    float: left;
    background-color: #eaf3f5;
    border:solid;
    border-color:#023047;
    border-radius: 25px;;
    height: 30px;
}
.incDecQty{
    float: left;
    width:25%;
    background-color: transparent;
    border:none;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 17px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
    color:#023047;
}
.incDecQty:hover{
    color: #ffac3d;
    transition:.3s;
}

.incDecQty:active{
    color: #ffdeb2;
    transform: .3s;
}
.numQty{
    float: left;
    width:88px;
}

.remove{
    position:absolute;
    top:-13px;
    right:0px;
    margin-right: 15px;
    background-color: transparent;
    border:none;
    font-size: 30px;
    font-weight: bolder;
    cursor:pointer;
    color:#023047;
}
.remove:hover{
    color: #ffac3d;
    transition:.3s;
}

.remove:active{
    color: #ffdeb2;
    transform: .3s;
}